{% extends "auctions/layout.html" %}

{% block body %}

<body class="index-page">

    <div class="container">
        <header>
            <h2>Active listings:</h2>
        </header>
    
        {% for listing in Listings %}
        <a href="{% url 'listing' listing.id %}" class="noLinkEffect mb-4">
            <div class="card">
                <div class="text-center">
                    {% if listing.image %}
                    <img src="{{ listing.image }}" class="img-fluid" style="max-width: 100%; max-height: 100vh;" alt="{{ listing.title }}">
                    {% endif %}
                </div>
                <div class="card-body">
                    <b>{{ listing.title }}</b> <br>
                    <p>{{ listing.description }}</p>
                    <b>Starting price:</b> {{ listing.start_bid }} <br>
                    {% if listing.category != "none" %}
                    <p class="card-text"><b>Category:</b> {{ listing.category }}</p>
                    {% endif %}
                </div>
            </div>
        </a>
        {% empty %}
        <h4>No listings available</h4>
        {% endfor %}
    </div>


</body>



{% endblock %}
